$grey50: #f9fafb;
$grey100: #f2f4f7;
$grey200: #eaecf0;
$grey300: #d0d5dd;
$grey400: #98a2b3;
$grey500: #667085;
$grey600: #475467;
$grey700: #344054;
$grey800: #1d2939;
$grey900: #101828;

$grey: (
  "50": $grey50,
  "100": $grey100,
  "300": $grey300,
  "500": $grey500,
  "700": $grey700,
  "800": $grey800,
);
